<form action="/book/save" method="post" class="user" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="_id" value="{{book._id}}">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="name" value="{{book.name}}" placeholder="Nomi" required>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="number" class="form-control form-control-user" name="count" value="{{book.count}}" placeholder="Mavjud soni" required>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="number" class="form-control form-control-user" name="price" value="{{book.price}}" placeholder="Narhi" required>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="author" placeholder="Muallifi" value="{{book.author}}" required>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="number" class="form-control form-control-user" name="year" value="{{book.year}}" placeholder="Chiqarilgan yili" required size="4" max='2021' min="1920">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="number" class="form-control form-control-user" name="page" value="{{book.page}}" placeholder="Sahifa soni" required>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <select name="genreId" data-value='{{book.genreId}}'>
                    <option>Kitob janrini belgilang</option>
                    {{#each genres}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="lang" placeholder="Chop etilgan tili" value="{{book.lang}}" required>
            </div>
        </div>
        <div class="col-lg-12">
            {{#if book.img}}
                <div class="row">
                    <div class="col-lg-4">
                        <img src="/{{book.img}}" alt="" width="140">
                        <input type="file" name="img">
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <textarea name="text" id="" class="form-control form-control-user" rows="10" placeholder="Kitob haqida ma`lumot">{{book.text}}</textarea>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="form-group">
                    <textarea name="text" id="" class="form-control form-control-user" rows="10" placeholder="Kitob haqida ma`lumot">{{book.text}}</textarea>
                </div>
            {{/if}}
            
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="publisher" value="{{book.publisher}}" placeholder="Chop etuvchi" required>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <select name="type" data-value='{{book.type}}'>
                    <option selected>Kitob turini belgilang</option>
                    <option value="Rangli">Rangli</option>
                    <option value="Oq-qora">Oq-qora</option>
                    <option value="A3 format">A3 format</option>
                    <option value="A4 format">A4 format</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="isbn" placeholder="ISBN" value="{{book.isbn}}" required>
            </div>
        </div>
        
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Saqlash</button>
</form>

<script>
    let selects = document.querySelectorAll('select')
    selects.forEach(s => {
        const val = s.getAttribute('data-value')
        document.querySelector(`option[value='${val}']`).selected = true
    })
</script>